@font-face {
  font-family: ultraRegular;
  src: url(./Ultra-Regular.ttf);
}
@font-face {
  font-family: permanenteMarker;
  src: url(./PermanentMarker-Regular.ttf);
}

@font-face {
  font-family: RubikVinyl-Regular;
  src: url(./RubikVinyl-Regular.ttf);
}

@font-face {
  font-family: Oi-Regular;
  src: url(./Oi-Regular.ttf);
}

@font-face {
  font-family:Fruktur-Italic ;
  src: url(./Fruktur-Italic.ttf);
}

@font-face {
  font-family:RubikMaze-Regular ;
  src: url(./RubikMaze-Regular.ttf);
}
@font-face {
  font-family:FrederickatheGreat-Regular ;
  src: url(./FrederickatheGreat-Regular.ttf);
}

.body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  color: rgb(255, 255, 255);
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  font-family: FrederickatheGreat-Regular;
  font-size: 20px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: RubikMaze-Regular;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

li span:nth-child(2) {
  color: red;
}
li span:nth-child(3) {
  color: rgb(202, 91, 159);
}
li span:nth-child(4) {
  color: rgb(0, 174, 255);
}
li span:nth-child(5) {
  color: rgb(241, 243, 148);
}
li span:nth-child(6) {
  color: rgba(241, 161, 217, 0.979);
}